<div class="flexClass" style="margin: 0;">

  <div class="well">
    <div class="row text-center well margin-one">
      <div class="col-md-2 darkgray padding-top">
        <h6>Apple</h6>
        <p>$146.6</p>
      </div>
      <div class="col-md-2 darkgray padding-top">
        <h6>Microsoft</h6>
        <p>$146.6</p>
      </div>
      <div class="col-md-2 darkgray padding-top">
        <h6>Google</h6>
        <p>$1046.6</p>
      </div>
      <div class="col-md-2 darkgray padding-top">
        <h6>Amazon</h6>
        <p>$1846.6</p>
      </div>
      <div class="col-md-2 darkgray padding-top">
        <h6>Facebook</h6>
        <p>$186.6</p>
      </div>
      <div class="col-md-2 darkgray padding-top">
        <h6>Walmart</h6>
        <p>$246.6</p>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4 d-flex align-items-stretch">
          <div class="card-body-color"
            style="padding:0.5rem; margin:0.5rem; background: linear-gradient(to right,#338F9A ,#0F76BB)">
            <h3>Most Read</h3>
            <hr>
            <app-long-kitchen-card [articles]="businessNews | slice:0:3">
            </app-long-kitchen-card>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card-body-color "
            style="padding:0.5rem; margin:0.5rem; background: linear-gradient(to right,#338F9A ,#0F76BB)">
            <h3>Least Read</h3>
            <hr>
            <app-long-kitchen-card [articles]="businessNews | slice:3:6">
            </app-long-kitchen-card>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card-body-color"
            style="padding:0.5rem; margin:0.5rem; background: linear-gradient(to right,#338F9A ,#0F76BB)">
            <h3>Recent</h3>
            <hr>
            <app-long-kitchen-card [articles]="businessNews | slice:7:10">
            </app-long-kitchen-card>
          </div>
        </div>
  </div>

  <div *ngIf="businessNews" style="padding-top: 1rem;">
      <div class="card-deck">
        <app-cards-template [article]="newsReport"
          class="col-md-4 col-lg-3 col-sm-6 col-xs-12 d-flex align-items-stretch"
          *ngFor="let newsReport of businessNews">
        </app-cards-template>
      </div>
  </div>
</div>