<div class="container">

  <div class="card card-body bg-dark margin-one">
    <h2 class="whiteFont text-center">New Games are displayed here.</h2>
  </div>

  <div class="row">
    <div class="col-md-4 d-flex align-items-stretch">
      <div style="padding:0.5rem; margin:0.5rem;">
        <h3>Most Read</h3>
        <hr>
        <app-long-kitchen-card [articles]="sportsNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div style="padding:0.5rem; margin:0.5rem;">
        <h3>Least Read</h3>
        <hr>
        <app-long-kitchen-card [articles]="sportsNews | slice:3:6">Loading...
        </app-long-kitchen-card>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div style="padding:0.5rem; margin:0.5rem;">
        <h3>Recent</h3>
        <hr>
        <app-long-kitchen-card [articles]="sportsNews | slice:7:10">Loading...
        </app-long-kitchen-card>
      </div>
    </div>
  </div>

  <div *ngIf="sportsNews" style=" padding-top: 1rem;">
    <div class="card-deck">
      <app-cards-template [article]="newsReport" class="col-md-4 col-lg-4 col-sm-6 col-xs-12 d-flex align-items-stretch"
        *ngFor="let newsReport of sportsNews">Loading...
      </app-cards-template>
    </div>
  </div>
</div>