<div style="margin: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-9" style="margin-top:1rem;">
          <div *ngIf="!sportsNews">
            Loading...
          </div>
          <!-- Top 20 News -->
          <div *ngIf="sportsNews" style="padding-top: 1rem;">
            <div class="card-group">
              <app-cards-template [article]="newsReport"
                class="col-md-4 col-lg-4 col-sm-6 col-xs-12 d-flex align-items-stretch"
                *ngFor="let newsReport of sportsNews">
              </app-cards-template>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div *ngIf="sportsNews" class="linear-gradient card-body-color margin-top">
            <h3>Most Read</h3>
            <app-long-kitchen-card [articles]="sportsNews | slice:0:3">Loading...
            </app-long-kitchen-card>
          </div>
          <div *ngIf="sportsNews" class="linear-gradient card-body-color">
            <h3>Recent</h3>
            <app-long-kitchen-card [articles]="sportsNews | slice:7:10">Loading...
            </app-long-kitchen-card>
          </div>

          <iframe width="100%" height="250" frameborder="0" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/iHWbGMVDw0k">
          </iframe>
        </div>
      </div>
    </div>
  </div>