<footer>
    <div class="container">
        <div>
            <ul>
                <li class="footer">
                    <a class="nav-link"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdxbQ_HVxHZW_1CIw9j35IA6XbBOUKEpL_QXG_MgyKKL5mkZA/viewform?vc=0&c=0&w=1"
                        style="color:white;" target="_blank" rel="noreferrer">Feedback</a>
                </li>
                <li *ngFor="let footer of footerElements" class="footer">
                    <a class="nav-link" routerLink="/{{footer.linkName}}" style="color:white;">{{footer.name}}</a>
                </li>
                <li class="footer">
                    <a class="nav-link" routerLink="/feedback" style="color:white;">&copy; 20Articles.com</a>
                </li>
            </ul>
        </div>
    </div>
</footer>