<div style="margin: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-9" style="margin-top:1rem;">
        <div *ngIf="!scienceNews">
          Loading...
        </div>
        <!-- Top 20 News -->
        <div *ngIf="scienceNews" style="padding-top: 1rem;">
          <div class="card-group">
            <app-cards-template [article]="newsReport"
              class="col-md-4 col-lg-4 col-sm-6 col-xs-12 d-flex align-items-stretch"
              *ngFor="let newsReport of scienceNews | slice:7">
            </app-cards-template>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div *ngIf="scienceNews" class="margin-top cards-style card-body-color">
          <p class="margin-top category-header margin-bottom">Most Read</p>
          <app-long-kitchen-card [articles]="scienceNews | slice:0:3">Loading...
          </app-long-kitchen-card>
        </div>
        <div *ngIf="scienceNews" class="margin-top cards-style card-body-color">
          <p class="margin-top category-header margin-bottom">Recent</p>
          <app-long-kitchen-card [articles]="scienceNews | slice:4:7">Loading...
          </app-long-kitchen-card>
        </div>
      </div>
    </div>
  </div>
</div>