<div style="margin-bottom:2rem;" class="card card-style" data-toggle="tooltip" data-placement="right" title="{{article.content}}">
  <a href="{{article.url}}" target="_blank" style="text-decoration:none;" rel="noreferrer">
    <img *ngIf="article.urlToImage != null" title="{{article.title}}" class="card-img-top" [src]="article.urlToImage"
      alt="Card image cap" style="max-height: 15rem;">
    <img *ngIf="article.urlToImage === null" title="{{article.title}}" style="max-height:10rem;" class="card-img-top"
      src="assets/news.png" alt="Card image cap">
    <div class="card-body">
      <h5 style="color:#333; padding-bottom:1rem;"> {{article.title}} </h5>
    </div>
    <div class="footer page-button">
      <small class="text-muted">{{article.source.name}}</small>
    </div>
  </a>
</div>