<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h2>
      <a class="navbar-brand" href="#"
        style="font-family:fantasy; color: greenyellow; letter-spacing: 0.2rem; border-bottom: solid 1px #fff;">{{appTitle}}
      </a>
    </h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/',currentCountry.id]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/health',currentCountry.id]" routerLinkActive="active-link">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/business',currentCountry.id]" routerLinkActive="active-link">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tech',currentCountry.id]" routerLinkActive="active-link">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/science',currentCountry.id]" routerLinkActive="active-link">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/entertainment',currentCountry.id]" routerLinkActive="active-link">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sports',currentCountry.id]" routerLinkActive="active-link">Sports</a>
        </li>
      </ul>
      <span class="form-inline my-2 my-lg-0 nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" style="color:white; cursor: pointer;"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/{{currentCountry.id}}.png" width="25px" height="25px"
            style="margin-right:3px; vertical-align: middle;" alt="INDIA Flag"> {{currentCountry.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="changeCountry(country)" style="cursor: pointer;"
            *ngFor="let country of countries"><img src="../../assets/{{country.id}}.png" width="25px" height="25px"
              style="margin-right:3px; vertical-align: middle;" alt="INDIA Flag"> {{country.name}}</a>
        </div>
      </span>
    </div>
  </nav>
</header>