<div style="margin: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-9" style="margin-top:1rem;">
          <div *ngIf="!technologyNews">
            Loading...
          </div>
          <div *ngIf="technologyNews" style="padding-top: 1rem;">
            <div class="card-group">
              <app-cards-template [article]="newsReport"
                class="col-md-4 col-lg-4 col-sm-6 col-xs-12 d-flex align-items-stretch"
                *ngFor="let newsReport of technologyNews">
              </app-cards-template>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div *ngIf="technologyNews" class="linear-gradient card-body-color margin-top">
            <h3>Most Read</h3>
            <app-long-kitchen-card [articles]="technologyNews | slice:0:3">Loading...
            </app-long-kitchen-card>
          </div>
          <div *ngIf="technologyNews" class="linear-gradient card-body-color">
            <h3>Recent</h3>
            <app-long-kitchen-card [articles]="technologyNews | slice:7:10">Loading...
            </app-long-kitchen-card>
          </div>
        </div>
      </div>
    </div>
  </div>