<div class="myContainer">
  <h2 class="margin-top">Fortune 1000 List (2018)</h2>

  <!-- <cdk-virtual-scroll-viewport itemSize="100">
    <li *cdkVirtualFor="let fortune of fortuneList;">
      <h2>{{fortune.Rank}}</h2>
      <p>{{fortune.Name}}</p>
    </li>
  </cdk-virtual-scroll-viewport> -->

  <!-- <table *ngIf="fortuneList">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Revenue (in Millions)</th>
    </tr>
    <tr *ngFor="let fortuneCompany of fortuneList | slice:startNum:lastNum">
      <td>{{fortuneCompany.rank}}</td>
      <td>{{fortuneCompany.title}}</td>
      <td>{{fortuneCompany["Revenues ($M)"]}}</td>
    </tr>
  </table>

  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      </ul>
    </nav> -->

</div>