<div class="myContainer">

  <h3 class="margin-top">Jobs by Categories</h3>

  <ul class="nav nav-pills">
    <li class="active"><a href="#" type="button" class="btn btn-lg btn-primary">OPT</a></li>
    <li><a href="#" type="button" class="btn btn-lg btn-primary">CPT</a></li>
    <li><a href="#" type="button" class="btn btn-lg btn-primary">H1-B</a></li>
    <li><a href="#" type="button" class="btn btn-lg btn-primary">H-4</a></li>
    <li><a href="#" type="button" class="btn btn-lg btn-primary">Green Card</a></li>
    <li><a href="#" type="button" class="btn btn-lg btn-primary">Citizen</a></li>
  </ul>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-2 order-1">
            <div class="card bg-light card-body mb-3">OPT</div>
        </div>
        <div class="col-md-6 order-sm-3 col-lg-2 order-md-3 order-2">
            <div class="card bg-light card-body mb-3">CPT</div>
        </div>
        <div class="col-md-6 order-sm-1 col-lg-2 order-md-2 order-3">
            <div class="card bg-light card-body mb-3">H1B</div>
        </div>
        <div class="w-100 d-sm-none"></div>
        <div class="col-md-6 col-lg-2 order-md-4 order-4">
            <div class="card bg-light card-body mb-3">H4</div>
        </div>
        <div class="col-md-6 col-lg-2 order-md-5 order-5">
            <div class="card bg-light card-body mb-3">Green Card</div>
        </div>
        <div class="col-md-6 col-lg-2 order-md-6 order-6">
            <div class="card bg-light card-body mb-3">Citizen</div>
        </div>
    </div>
</div>