.myContainer {
    width: 80%;
    background: #333;
    position: relative;
}

.col {
  color: #000;
}

.truncate {
    box-shadow: 1px 1px 1px 1px gray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    height: 100%;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }

    img {
      max-height: 5rem;
    }
  
}

.column-container{
  margin:0;
  width: 90%;
  height: auto;
  background: black;
}


// Trying new Masonary style css

// #photos {
//   /* Prevent vertical gaps */
//   line-height: 0;
   
//   -webkit-column-count: 5;
//   -webkit-column-gap:   0px;
//   -moz-column-count:    5;
//   -moz-column-gap:      0px;
//   column-count:         5;
//   column-gap:           0px;  
// }

// #photos img {
//   /* Just in case there are inline attributes */
//   width: 100% !important;
//   height: auto !important;
// }

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.top-header:after{
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 10%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}