<div style="margin: 0;">

  <div class="row">

    <div class="margin-top col-md-9">
      <!-- <div *ngIf="!gtNews">
        Loading...
      </div>
      <div *ngIf="gtNews">
        <h3>World News</h3>
        <div class="cards-style card-body-color card-deck">
          <app-long-kitchen-card [articles]="gtNews">
          </app-long-kitchen-card>
        </div>
      </div> -->

      <div *ngIf="news">
        <h2 class="margin-top category-header margin-bottom margin-left">National News </h2>
        <div class="card-group">
          <app-cards-template [article]="newsReport"
            class="col-md-4 col-lg-4 col-sm-6 col-xs-12 d-flex align-items-stretch"
            *ngFor="let newsReport of news | slice:0:21">
          </app-cards-template>
        </div>
      </div>

    </div>

    <div class="col-md-3 margin-top">
      <div>
          <app-weather></app-weather>
      </div>
      
      <!-- <div>
        <app-mlb-game></app-mlb-game>
      </div> -->

      <div *ngIf="healthNews" class="margin-top cards-style card-body-color">
        <h5 class="margin-bottom category-header">
          HEALTH
          <a routerLink="/health" class="link-color"> Show More > </a>
        </h5>
        <app-long-kitchen-card [articles]="healthNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>

      <div *ngIf="businessNews" class="margin-top cards-style card-body-color">
        <h5 class="margin-bottom category-header">
          BUSINESS
          <a routerLink="/business" class="link-color"> Show More > </a>
        </h5>
        <app-long-kitchen-card [articles]="businessNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>

      <div *ngIf="technologyNews" class="margin-top cards-style card-body-color">
        <h5 class="margin-bottom category-header">
          TECHNOLOGY
          <a routerLink="/tech" class="link-color"> Show More > </a>
        </h5>
        <app-long-kitchen-card [articles]="technologyNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>

      <div *ngIf="scienceNews" class="margin-top cards-style card-body-color">
        <h5 class="margin-bottom category-header">
          SCIENCE
          <a routerLink="/science" class="link-color"> Show More > </a>
        </h5>
        <app-long-kitchen-card [articles]="scienceNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>

      <div *ngIf="sportsNews" class="margin-top cards-style card-body-color">
        <h5 class="margin-bottom category-header">
          SPORTS
          <a routerLink="/sports" class="link-color"> Show More > </a>
        </h5>
        <app-long-kitchen-card [articles]="sportsNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>

      <div *ngIf="entertainmentNews" class="margin-top cards-style card-body-color">
        <h5 class="margin-bottom category-header">
          ENTERTAINMENT
          <a routerLink="/entertainment" class="link-color"> Show More > </a>
        </h5>
        <app-long-kitchen-card [articles]="entertainmentNews | slice:0:3">Loading...
        </app-long-kitchen-card>
      </div>

    </div>

  </div>

</div>