.flexClass {
    width: 100%;    
    height: auto;
}

  .categories{
      display: flex;
      flex:1;
      justify-content: space-around;
      padding: 1rem 1rem;
  }


  .news-display{
    display: flex;
  justify-content: center;
  }
  

.photo-grid-container{
    display: flex;
    justify-content: center;

    .photo-grid {
        width: 900px;
        display: flex;
        justify-content: flex-start;

        .photo-grid-item {
            border:1px solid #fff;
            width: 300px;
            height: 300px;
        }
    }

}



